
/* 
    Created on : 24 juin 2015, 17:16:55
    Author     : Marvell
*/

.align-center{
    text-align: center;
}

.home-page-section .section-header{
      margin: 50px 0 50px !important;
}

.media-list.notifications{
    background-color: white;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    color: rgb(106, 116, 134);
}

.menu-block nav ul li a{
    padding: 0px;
    display: block;
    color: #7e848e !important;
    background: url(../../images/nav-arrow.png) 90% center no-repeat;
}

.menu-block nav ul li a:hover{
    font-weight: bold;
    color: #7e848e !important;
}

.tea-block h5{
    padding-left: 50px !important;
}

footer{
    font-size: 12px;
    background: url(../../images/blurred.jpg) top center no-repeat;
    background-size: cover;
}

footer section.contacts {
    background-color: rgba(0,0,0,0);
}

footer section.contacts, footer section.contacts h5 {
    color: white !important;
}

footer section.contacts .offset {
    padding-left: 25px;
}

footer section.contacts .contacts-block i {
    color: white;
}

footer section.contacts a:hover {
    font-weight: bold;
    color: #7e848e !important;
}

footer section.contacts ul li a{
    color: #A2ABA6 !important;
}

.tea-block p{
    text-align: justify;
}

.footer-logo{
    position: relative;
    top: 33px;
}

#last-tweet ul  ul {
    margin: 0;
    padding: 0;
}
#last-tweet ul  li {
    list-style: none;
    clear: both;
}
#last-tweet ul  li img, #last-tweet ul  li .tweets_txt {
    float: left;
    margin-bottom: 10px;
}
#last-tweet ul  li img {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 30px;
    position: relative;
    left: 16px;
    bottom: 42px;

}

#last-tweet ul  li .tweets_txt span {
    font-style: italic;
    color: #666;
    display: block;
}

.right-border{
    border-right: 1px dotted #c5c5c7;
}

.section-header.no-home{
    margin: 0 auto;
}

.section-header.no-home .subline{
    margin: 0 auto;
}

.section-header.no-home .subhead{
    margin: 0 auto 30px;

}

.tags li a span.label{
    font-size: 80%;
    font-weight: 600;
    padding: 0.1em 0.5em 0.1em;
}

.tags li a .label-odd {
    border: 1px solid #675F99;
    color: #675F99;
}
.tags li a .label-even {
    border: 1px solid #34495e;
    color: #34495e;
}
.tags li a .label-odd:hover {
    background-color:  #675F99;
    color: white;
}
.tags li a .label-even:hover {
    background-color:  #34495e;
    color: white;
}

.tags li a span.label:hover, .tags li a:hover, .tags li a:visited{
    text-decoration: none !important;
}

.fos_comment_comment_show{
    margin: 20px auto;
}

.fos_comment_comment_metas .avatar img {
    height: 50px;
    width: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.fos_comment_comment_metas .comment-info h5 {
    padding-top: 16px;
    font-weight: bold;
    color: #2a2d32;
    margin: 0;
    font-size: 14px;
}

.fos_comment_comment_metas .comment-info {
    border-bottom: 1px dotted #d0d2d7;
    min-height: 50px;
    margin-bottom: 10px;

}

.fos_comment_comment_body p {
    margin: 0 0 0.74em;
    padding: 8px;
    background-color: rgb(247, 247, 247);;
    border-radius: 2px;
    font-size: 12px;
    color: rgb(90, 90, 90);
}

.fos_comment_comment_metas div.comment-info.clearfix ul.list-inline.pull-right span{
    cursor: pointer;
}

/****** View & Like & Page Meta  **********/

.formation-share.copyright-links li i {font-size: 20px !important;}

.page-social-meta{margin:15px auto;}
.page-social-meta .social-meta span { border-width: 1px; border-style: solid; border-color: #D3DAD6; height: 27px; line-height: 27px; display: inline-block; vertical-align: middle; font-size: 12px; margin-right: 7px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; overflow: hidden; padding: 0 7px; }
.page-social-meta .social-meta span span { border: 0; height: auto; margin: 0; padding: 0; }
.page-social-meta .social-meta span.author { padding-left: 0 }
.page-social-meta .social-meta span.author img { margin-top: -3px; margin-bottom: auto !important; }
.page-social-meta .social-meta span a:hover { text-decoration: none; color: #3fc380; padding: 0 5px; }
.page-social-meta .social-meta span.meta-icon { border-color: #3fc380 }
/* Post meta */
.page-social-meta .social-meta { margin-top: 10px; font-size: 12px; color: #a9adb2; }
.page-social-meta .social-meta a { color: #a9adb2 }
.page-social-meta .social-meta i,
.page-social-meta .social-meta img { margin-right: 5px }
.page-social-meta .social-meta span { margin-right: 8px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Meta category */
.page-social-meta .meta-category {margin-top: 10px;height: 27px; line-height: 27px; font-size: 12px; padding: 0 7px; border-width: 1px; border-color: #D3DAD6; border-style: solid; position: relative; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.page-social-meta .meta-category em { padding-left: 27px; display: inline-block; }
.page-social-meta .meta-category a:hover { text-decoration: none; padding: 0 5px; }
.page-social-meta .meta-category i { color: #e74c3c; font-size: 17px; position: absolute; left: 0; top: 0; bottom: 0; width: 27px; line-height: 27px; text-align: center; background-color: whitesmoke; }

.page-social-meta #like_thread.meta-category.is-liker{border-color:#e74c3c;}
.page-social-meta #like_thread.meta-category.is-liker i{background-color:#e74c3c;color:#fff;}
.page-social-meta #like_thread.meta-category.is-liker a{color:#e74c3c;}

/****** Ajax Success **********/
.ajax_success .icon{

  width: 80px;
  height: 80px;
  background: #27ae60;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #bee6cf;
  text-align: center;
  padding-top: 16px;
}

.ajax_success .icon i {
  font-size: 36px;
  color: #fff;
}

/****** Error  Form **********/

.form-control.has-error{
    border: 1px dashed #EF4E4E;
}


/******* TEA And Me ***********/

.comment-teaandme{
   overflow-y: scroll;
   max-height: 500px;
}

/*******  Video Player   *******/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*******  Profil   *******/

.tab-content .tabpanel-content{
    text-align: left;
    font-size: 15px;
}

.tab-content .tabpanel-content .list-info li span.infos-label,
.tab-content .tabpanel-content .list-info li span.infos-value,
.tab-content .tabpanel-content .list-info li i.fa
{
    display: inline-block;
}

.tab-content .tabpanel-content .list-info li:before, .tab-content .tabpanel-content .list-info li:after {
    content: " ";
    display: table;
}

.tab-content .tabpanel-content .list-info li:after {
    clear: both;
}

.tab-content .tabpanel-content .list-info li span.infos-label {
    width: 140px;
    font-weight: 700;
    margin-left: 10px;
}

.tab-content .tabpanel-content .list-info li i.fa {
    width: 50px;
    margin-right: 10px;
    text-align: center;
    font-size: 16px;
    border-right: 1px solid #ddd;
    color: black;
}

.profile-edit-forms label{
    margin-left: -15px;
    margin-bottom: 0 !important;
}

/**********************************************/
/*******  StandAlone Login & Register   *******/
/**********************************************/

.home-header.login-register{
  background-image: url('../../images/blurred.jpg');
}
.standalone-login{
    padding: 20px 50px;
    background-color: rgb(42, 45, 50);
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.standalone-login span.forgot a{
    padding: 20px;
}
.standalone-login span.forgot a:hover{
    color: #27ae60;
    font-weight: bold;
}

.standalone-login .section-header, .standalone-profile-edit .section-header{
    margin:0;
}
.standalone-login .section-header h2, .standalone-profile-edit .section-header h2{
    color: white;
    font-size: 35px;
}

.standalone-login input.submit-button{
  background: #27ae60;
  box-shadow: none;
  color: white;
  padding: 10px;
}

.standalone-login .or-sep{
      display: block;
  position: relative;
  font-size: 14px;
  color: #7e848e;
  margin-bottom: 15px;
}


.standalone-login .signup-facebook{
  background: #3b5796;
  display: block;
  font-size: 14px;
  line-height: 35px;
  height: 35px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: normal;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.standalone-login .signup-google{
  background: #d34836;
  display: block;
  font-size: 14px;
  line-height: 35px;
  height: 35px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: normal;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}


/***************************/
/*******    List Profil   *******/
/***************************/

ul.content-list{
    padding:20px ;
    max-width: 1000px;
    margin-top: 30px;
}

ul.content-list li {
    list-style: none;
    /* float: left; */
    width: 100%;
    margin: 0 0 30px;
    position: relative;
    padding: 20px;
    line-height: 17px;
    background: #fff;
}

ul.content-list .project-thumbs{

    /* float: left; */
    /* max-width: 150px; */
    width: 15%;
    /* max-height: 150px; */
    border: 4px solid #EDEDED;
    border-radius: 10px;
    position: relative; 
    /* top: 0; */
    /* left: 0; */
    display: inline-block;
}



ul.content-list .project-thumbs img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

ul.content-list .project-thumbs span {
    position: absolute; 
    top: 50px; 
    left: 0; 
    width: 100%; 
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 0 10px; 
    font-size: 20px;
    text-align: center;
}



ul.content-list .project-content{
    padding: 0 0 0 30px;
    /* float: left; */
    /* position: relative; */
    /* background: #fff; */
    /* min-height: 90px; */
    /* width: 98%; */
    display: inline-block;
    width: 80%;
    vertical-align: top;
}

ul.content-list .project-content .project-infos time{
    background-color: rgb(51, 115, 168);
    color: white;
}

ul.content-list .project-content p{
    margin-bottom: 1em;
    line-height: 20px;
}

ul.content-list .project-content .project-metas a{
    margin-right: 10px;
}

ul.content-list .project-content h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 38px;
}

ul.content-list .project-content h2 a {
    color: #3B475A;
}


@media screen and (max-width: 990px) {
    .about-me-header{

        padding-top: 105px;
        padding-bottom: 30px;
    }
    .about-me-header h1{
        text-align: center;
    }
    .about-me-header .path{
        float: none!important;
        margin: auto;
        text-align: center;
    }
    .about-me-header .avatar{

        text-align: center;
        border: none;
        margin-top: 20px;
        padding: 0;

    }
    .about-me-header .avatar img{
        width: 100px;
        height: 100px;
    }
}