<section class="wrap-contacts">
    <div class="container" id="dropzoneCVContainer">
        <h4 class="text-center">{{ 'cv.title'|trans({},'messages') }}</h4>
        <div id="invalidCVMessage" class="alert alert-danger" style="display: none;">{{'cv.error'|trans({},'messages')}}</div>
        <form enctype="multipart/form-data" class="dropzone" action="{{ path('tea_user_cv') }}" method="post" name="cvDropzoneForm" id="cvDropzoneForm" class="text-center">
            <div class="fallback">
                <input name="file" type="file" multiple />
                <input type="submit"/>
            </div>    
            <div id="dropzoneCVPreview" class="form-group"></div>
        </form>
        
        <script>
            $(document).ready(function() {
                $("#cvDropzoneForm").dropzone({
                    addRemoveLinks: true,
                    autoProcessQueue: true, // this is important as you dont want form to be submitted unless you have clicked the submit button
                    autoDiscover: false,
                    previewsContainer: '#dropzoneCVPreview', // we specify on which div id we must show the files
                    clickable: true, // this tells that the dropzone will not be clickable . we have to do it because v dont want the whole form to be clickable 
                    maxFilesize: 2,
                    maxFiles: 1,
                    acceptedFiles: 'image/jpeg, image/png, image/x-png, application/pdf',
                    accept: function(file, done) {
                      done();
                    },
                    error: function(file, msg){
                      $("#invalidCVMessage").fadeIn(500);
                    },
                    success: function(file, data) {
                        window.location.replace("{{path('fos_user_profile_show')}}");
                    }
                });
            });


        </script>
    </div>
</section>