<div class="container container-tabs">
    <!-- Nav tabs -->
    <ul class="nav  nav-tabs-alt nav-tabs-two nav-tab-inverse" role="tablist">
        <li role="presentation" class="active"><a href="#contact-info" aria-controls="contact-info" role="tab" data-toggle="tab">Contact info</a></li>
        <li role="presentation"><a href="#service-inquiry" aria-controls="service-inquiry" role="tab" data-toggle="tab">Service Inquiry</a></li>
        <li role="presentation"><a href="#on-map" aria-controls="on-map" role="tab" data-toggle="tab">View on Map</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <!-- Contact Info -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <div role="tabpanel" class="tab-pane active" id="contact-info">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="footer-header">	
                        <h2>Contact info</h2>
                        <p class="large">Sed condimentum ante ac quam varius pretium. Nunc ornare laoreet augue et elementum. Phasellus libero, blandit vel sapien vitae, condimentum ultricies magna et.</p>
                    </div>	
                </div>				
            </div><!--row-->
            <div class="row">
                <div class="col-md-4">
                    <article class="contact-item">
                        <div class="dotted-line hidden-sm hidden-xs"></div>
                        <div class="striped-icon-xlarge">
                            <span aria-hidden="true" class="icon-pointer"></span>
                        </div>
                        <h5>Address</h5>
                        <p>25, Lomonosova St. Moscow, Russia, 665087</p>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="contact-item">
                        <div class="dotted-line hidden-sm hidden-xs"></div>
                        <div class="striped-icon-xlarge">
                            <span aria-hidden="true" class="icon-call-end"></span>
                        </div>
                        <h5>Phones</h5>
                        <p>+7 234 949-58-83,  +7 239 585-58-61</p>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="contact-item">
                        <div class="striped-icon-xlarge">
                            <span aria-hidden="true" class="icon-envelope"></span>
                        </div>
                        <h5>E-mail</h5>
                        <p>info@rosetta.com,  support@rosetta.com</p>
                    </article>
                </div>
            </div>
        </div><!--tabpanel-->

        <!-- Service Inquiry -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <div role="tabpanel" class="tab-pane" id="service-inquiry">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="footer-header">	
                        <h2>Service Inquiry</h2>
                    </div>	
                </div>				
            </div><!--row-->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 contact-form">
                    <div id="response"></div>
                    <form  method="post" action="sendEmail.php" name="contact-form" id="contact-form">			             
                        <div><input type="text" placeholder="Subject" value="" name="subject"  id="subject" class="form-control"></div>
                        <div><input type="text" placeholder="Your name" value="" name="name" id="name" class="form-control"></div>
                        <div><input type="email" placeholder="Your email" value="" name="email" id="email" class="form-control"></div>
                        <div><textarea id="message" class="form-control" rows="3" name="message" placeholder="Your message"></textarea></div>
                        <div><input  class="contact_button button btn btn-primary btn-block" type="submit" name="submit" id="submit" value="Send Message" /></div>
                    </form>	
                </div>
            </div>
        </div><!--tabpanel-->

        <!-- Map -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <div role="tabpanel" class="tab-pane" id="on-map">
            <div id="mapCanvas"></div>
        </div><!--tabpanel-->

    </div><!--tab-content-->

</div><!--container-->

{% block scripts %}
    <!-- Google maps -->    
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        $(document).ready(function() {
                /* <!-- =============================================== --> */
                /* <!-- ============ Init GMap on hidden tab =========== --> */
                /* <!-- =============================================== -->  */
                function waitForVisibleMapElement() {
                    setTimeout(function() {
                        if ($('#on-map').is(":visible")) {
                            initialize();
                        } else {
                            waitForVisibleMapElement();
                        }
                        ;
                    }, 10);
                }
                ;
                waitForVisibleMapElement();
        });
    </script>
    {% javascripts  '@TeaCampusCommonBundle/Resources/public/js/map.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}