{#Created By SAMIE MEHEZA#}
<section class="wrap-tabs" style="padding:0px">
    <div class="container">
        <div class="row" >
            <div class="row-same-height">
                <div class="col-md-3 col-sm-height profile-message">			
                    <!-- Nav tabs -->
                    <ul class="nav-tabs-vertical hidden-xs" role="tablist">
                        <li role="presentation" class="active"><a href="#message_received" aria-controls="message_received" role="tab" data-toggle="tab"><i class="fa fa-download"></i>&nbsp;&nbsp;{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a></li>
                        <li role="presentation"><a href="#sent_message" aria-controls="sent_message" role="tab" data-toggle="tab"><i class="fa fa-upload"></i>&nbsp;&nbsp;{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a></li>
                    </ul>
                    <ul class="nav  nav-tabs-alt nav-tabs-two visible-xs-block" role="tablist">
                        <li role="presentation" class="active"><a href="#reception" aria-controls="reception" role="tab" data-toggle="tab"><i class="fa fa-download"></i>&nbsp;&nbsp;{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a></li>
                        <li role="presentation"><a href="#sent" aria-controls="sent" role="tab" data-toggle="tab"><i class="fa fa-upload"></i>&nbsp;&nbsp;{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a></li>
                    </ul>
                </div>
                <div class="col-md-9 col-sm-height">
                    <!-- Tab panes -->
                    <div class="tab-content tab-content-message">

                        <div role="tabpanel" class="tab-pane tab-pane-vertical active" id="message_received">
                            <div class="row">
                                <div class="row-same-height" id="received-message">
                                    {% include 'ApplicationFOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads, 'sent':false } %}
                                </div><!--row same height-->
                            </div><!--row-->
                        </div><!--tabpanel-->

                        <div role="tabpanel" class="tab-pane tab-pane-vertical " id="sent_message">
                            <div class="row">
                                <div class="row-same-height" id="send-message">
                                    {% include 'ApplicationFOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads_send, 'sent':true } %}
                                </div><!--row same height-->
                            </div><!--row-->
                        </div><!--tabpanel-->
                    </div><!--tab-content-->
                </div><!--col-->			
            </div><!--row same height-->
        </div><!--row-->
    </div><!-- container -->
</section>
