{% extends "::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% spaceless %}
    {% block title %}
        {{ 'sonata_change_password_link'|trans({}, 'SonataUserBundle') }} - {{ parent() }}
    {% endblock %}

    {% block main_content %}
        <section class="home-header login-register" style="min-height: 450px;padding-top: 175px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 standalone-login">
                        <header class="section-header">
                            <p class="subhead">{{ 'register.subhead'| trans({},'messages') }}</p>
                            <h5 style="color:white">{{ 'sonata_change_password_link'|trans({}, 'SonataUserBundle') }}</h5>
                        </header>
                        {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
                    </div>
                </div>
            </div>
        </section>                   
    {% endblock %}

    {% block scripts %}
    {% endblock %}
{% endspaceless %}
