{# empty Twig template #}
{# created By SAMIE MEHEZA #}
<div class="form-group search has-feedback wow fadeInUp animated" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; -webkit-animation-duration: 2s; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
    <form method="POST" action="{{path('tea_projects_search')}}">
        <input name="search" class="form-control " placeholder="{{'aside.projects.search' | trans({},'messages')}}">
        <i class="fa fa-search fa-lg form-control-feedback"></i>
    </form>
</div>