<script type="text/javascript">
    $(document).ready(function() {
        $('#view_thread').html('<div class="thread_icon center-block"><i id="view" style="margin-right:auto" class="fa fa-eye"></i></div> <span id="nb-views" class="center-block thread_num">{{ Thread.numViews}}</span>');
     });
</script>
