<section class="wrap-contacts">
    <div class="anchor-icon">
        <i class="icon-anchor"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 text-center wow fadeInUp" data-wow-duration="2s" >
                <h4>{{'footer.social.title'|trans({},'messages')}}</h4>
                <p>{{'footer.social.message'|trans({},'messages')}}</p>

                <ul class="copyright-links list-inline">
                    <li><a href="https://www.facebook.com/pages/Todays-Entrepreneurs-in-Africa/986084074734919"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/TEAfrica2015"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>